/*--------------------
Home Page
---------------------*/

.home__page {
    display: block;
}

/*--------------------
Header Component
---------------------*/

.auth-header {
    position: relative;

    .auth_dropdown {
        cursor: pointer;
        z-index: 200;

        .user_dropdown {
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            color: var(--jv-bg-color);
            background: var(--jv-text-color);
            padding: 0.5rem;
            border-radius: 0.25rem;
            z-index: 200;

            p {
                padding: 0.5rem;
                cursor: pointer;
                box-shadow: var(--jv-box-shadow);

                &:hover {
                    color: var(--jv-secondary-color);
                    background: var(--jv-secondary-bg);
                    border-radius: 0.25rem;
                }
            }
        }
    }
}

/*--------------------
Icons Lib Page
---------------------*/

.icons-grid {
    background: transparent;

    .icon-holder {
        position: relative;
        padding: 3rem 1rem;
        margin: 1rem;
        box-shadow: var(--jv-box-shadow);
        display: flex;
        flex-direction: column;

        .icon-name {
            color: var(--jv-text-color);
            margin-top: 10px;
        }
    }
}

/*--------------------
Signin Box
---------------------*/

.signin-container,
.signup-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    background: linear-gradient(135deg,
            rgba(30, 29, 31, 1) 0%,
            rgba(223, 64, 90, 1) 100%);

    .b {
        line-height: 1;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .b-form {
        opacity: 1;
        margin: 10px 20px;
        float: right;
    }

    .b-info {
        opacity: 0.5;
        float: left;
    }

    .b-form:hover,
    .b-info:hover {
        opacity: 1;
        cursor: pointer;
    }

    .box {
        width: 20.625rem;
        position: absolute;
        top: 50%;
        left: 50%;

        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        &-form {
            width: 20rem;
            position: relative;
            z-index: 1;
        }

        &-signin-tab,
        &-signup-tab {
            width: 50%;
            height: 2.5rem;
            background: #fdfdfd;
            position: relative;
            float: left;
            z-index: 1;

            -webkit-border-radius: 6px 6px 0 0;
            -moz-border-radius: 6px 6px 0 0;
            border-radius: 6px 6px 0 0;

            -webkit-transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
            transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

            -webkit-box-shadow: 15px -15px 30px rgba(0, 0, 0, 0.32);
            -moz-box-shadow: 15px -15px 30px rgba(0, 0, 0, 0.32);
            box-shadow: 15px -15px 30px rgba(0, 0, 0, 0.32);
        }

        &-signin-title,
        &-signup-title {
            width: 45%;
            height: 2.5rem;
            position: absolute;
            padding: 0.25rem 1rem;
            float: left;
            z-index: 2;
            display: flex;
            align-items: center;

            .signin-txt,
            .signup-txt {
                font-size: 1.25rem;
                font-weight: bold;
            }
        }

        &-signin,
        &-signup {
            position: relative;
            top: -4px;
            width: 320px;
            background: #fdfdfd;
            text-align: center;
            overflow: hidden;
            z-index: 2;

            -webkit-border-top-right-radius: 6px;
            -webkit-border-bottom-left-radius: 6px;
            -webkit-border-bottom-right-radius: 6px;
            -moz-border-radius-topright: 6px;
            -moz-border-radius-bottomleft: 6px;
            -moz-border-radius-bottomright: 6px;
            border-top-right-radius: 6px;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;

            -webkit-box-shadow: 15px 30px 30px rgba(0, 0, 0, 0.32);
            -moz-box-shadow: 15px 30px 30px rgba(0, 0, 0, 0.32);
            box-shadow: 15px 30px 30px rgba(0, 0, 0, 0.32);
        }

        &-info {
            width: 260px;
            top: 60px;
            position: absolute;
            right: -5px;
            padding: 15px 15px 15px 30px;
            background-color: rgba(255, 255, 255, 0.6);
            border: 1px solid rgba(255, 255, 255, 0.2);
            z-index: 0;

            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;

            -webkit-box-shadow: 15px 30px 30px rgba(0, 0, 0, 0.32);
            -moz-box-shadow: 15px 30px 30px rgba(0, 0, 0, 0.32);
            box-shadow: 15px 30px 30px rgba(0, 0, 0, 0.32);
        }
    }

    .line-wh {
        width: 100%;
        height: 1px;
        top: 0px;
        margin: 12px auto;
        position: relative;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
    }

    /*--------------------
    Form
    ---------------------*/

    .b-start,
    .b-signup {
        margin-top: 0.625rem;
    }

    .b-support {
        border: #87314e 1px solid;
        background-color: transparent;
        color: #87314e;
        margin: 0.3125rem 0;
    }

    .b-cta {
        border: #df405a 1px solid;
        background-color: #df405a;
        color: #fff;

        a {
            text-decoration: none;
        }
    }

    .b-support,
    .b-cta {
        width: 100%;
        padding: 0px 15px;
        font-family: "Quicksand", sans-serif;
        font-weight: 700;
        letter-spacing: -1px;
        font-size: 16px;
        line-height: 32px;
        cursor: pointer;

        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;

        &:hover {
            color: #fff;
            background-color: #87314e;
            border: #87314e 1px solid;
        }
    }

    .b-signin {
        padding: 0.5rem;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }

    .fieldset-body {
        display: table;

        div.field {
            position: relative;
            width: 100%;
            display: inline-table;
            padding: 5px 20px;

            .input-icon {
                position: absolute;
                bottom: 0.25rem;
                right: 2rem;
            }
        }
    }

    label {
        width: 100%;
        color: #032942;
        font-size: 13px;
        font-weight: 700;
        text-align: left;
        line-height: 1.5;
        margin: 0 0 0.25rem 0;
    }

    input {

        &[type="text"],
        &[type="email"],
        &[type="tel"],
        &[type="password"] {
            width: 100%;
            height: 32px;
            padding: 0px 10px;
            background-color: rgba(0, 0, 0, 0.03);
            border: none;
            display: inline;
            color: #303030;
            font-size: 16px;
            font-weight: 400;
            float: left;

            -webkit-box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.05),
                1px 1px 0px rgba(255, 255, 255, 1);
            -moz-box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.05),
                1px 1px 0px rgba(255, 255, 255, 1);
            box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.05),
                1px 1px 0px rgba(255, 255, 255, 1);

            &:focus,
            &:focus {
                background-color: #f8f8c6;
                outline: none;
            }
        }
    }

    .jv-input.error {
        input {
            border: 1px solid var(--jv-red);
            box-shadow: var(--jv-box-shadow);
        }
    }

    /*--------------------
    Transitions
    ---------------------*/

    .box,
    .box-form,
    .box-info,
    .b,
    .b-support,
    .b-cta,
    input[type="submit"] {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .open_form {
        .b-form {
            opacity: 0.01;
            cursor: unset;
        }

        .box-form {
            left: -37%;
        }

        .box-info {
            right: -37%;
        }
    }

    .close_form {
        .b-form {
            opacity: 1;
        }

        .box-form {
            left: 0px;
        }

        .box-info {
            right: -5px;
        }
    }

    .need-help {
        display: flex;
        align-items: center;

        .help-txt {
            font-size: 1.25rem;
            font-weight: bold;
            padding-left: 1rem;
        }

        .svg-holder {
            cursor: pointer;
        }
    }
}