.switch {
    position: relative;
    display: inline-block;
    width: 3.75rem;
    height: 2.125rem;

    input {
        appearance: none;
        height: 0;
        opacity: 0;
        width: 0;

        &:checked+.slider {
            background-color: #2196F3;
        }

        &:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }

        &:checked+.slider:before {
            -webkit-transform: translateX(1.625rem);
            -ms-transform: translateX(1.625rem);
            transform: translateX(1.625rem);
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;

        &:before {
            position: absolute;
            content: "";
            height: 1.625rem;
            width: 1.625rem;
            left: 0.25rem;
            bottom: 0.25rem;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        /* Rounded sliders */
        &.round {
            border-radius: 2.125rem;
        }

        &.round:before {
            border-radius: 50%;
        }
    }
}