:root {
    --jv-light: #f8f9fa;
    --jv-dark: #212529;
    --jv-black: #000;
    --jv-white: #fff;
    --jv-blue: #0d6efd;
    --jv-indigo: #6610f2;
    --jv-purple: #6f42c1;
    --jv-pink: #d63384;
    --jv-red: #dc3545;
    --jv-orange: #fd7e14;
    --jv-yellow: #ffc107;
    --jv-green: #198754;
    --jv-teal: #20c997;
    --jv-cyan: #0dcaf0;
    --jv-gray: #6c757d;
    --jv-gray-dark: #343a40;
    --jv-gray-100: #f8f9fa;
    --jv-gray-200: #e9ecef;
    --jv-gray-300: #dee2e6;
    --jv-gray-400: #ced4da;
    --jv-gray-500: #adb5bd;
    --jv-gray-600: #6c757d;
    --jv-gray-700: #495057;
    --jv-gray-800: #343a40;
    --jv-gray-900: #212529;
    --jv-primary: #0d6efd;
    --jv-secondary: #6c757d;
    --jv-success: #198754;
    --jv-info: #0dcaf0;
    --jv-warning: #ffc107;
    --jv-danger: #dc3545;
    --jv-focus-ring-color: rgba(13, 110, 253, 0.25);
    --jv-highlight-bg: #fff3cd;
    --jv-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto,
        'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --jv-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
        'Liberation Mono', 'Courier New', monospace;
    --jv-gradient: linear-gradient(180deg,
            rgba(255, 255, 255, 0.15),
            rgba(255, 255, 255, 0));
    --jv-body-font-family: var(--jv-font-sans-serif);
    --jv-body-font-size: 1rem;
    --jv-body-font-weight: 400;
    --jv-body-line-height: 1.5;
    --jv-border-radius: 0.375rem;
    --jv-border-radius-sm: 0.25rem;
    --jv-border-radius-lg: 0.5rem;
    --jv-border-radius-xl: 1rem;
    --jv-border-radius-xxl: 2rem;
    --jv-border-radius-pill: 50rem;
    --jv-border-radius-2xl: var(--jv-border-radius-xxl);
    --jv-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --jv-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --jv-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    --jv-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    --jv-focus-ring-width: 0.25rem;
    --jv-focus-ring-opacity: 0.25;
    --jv-link-decoration: underline;
    --jv-border-width: 1px;
    --jv-border-style: solid;

    // Box-shadows
    --linear-shadow: 0 0 3px 3px;
    --minimal-shadow: 0 1px 3px;
    --default-shadow: 0 3px 8px;
    --dark-shadow: 0 5px 10px;
    --top-shadow: 2px -3px 4px;
    --bottom-shadow: 2px 3px 4px;
    --svg-light-shadow: 3px 3px 3px;
    --svg-dark-shadow: 3px 2px 1px;
    --focus-shadow: 0 0 0 0.2rem;
    --notify-shadow: 5px 5px 5px;
    --card-shadow: 0 4px 12px 0;
    --card-hover-shadow: 0 8px 16px 0;
    --text-shadow: 0 0.3rem 0.5rem;
    --menu-shadow: 0px 50px 100px -20px #32325d40,
        0px 30px 60px -30px #0000004d,
        0px -2px 6px 0px #0a254059 inset;
    --button-shadow: 5px 5px 2px -2px #a5a5a5;
}

[data-theme='light'] {
    color-scheme: light;
    --jv-body-color: #212529;
    --jv-body-bg: #fff;
    --jv-emphasis-color: #000;
    --jv-secondary-color: rgba(33, 37, 41, 0.75);
    --jv-secondary-bg: #e9ecef;
    --jv-tertiary-color: rgba(33, 37, 41, 0.5);
    --jv-tertiary-bg: #f8f9fa;

    --jv-primary-text-emphasis: #052c65;
    --jv-secondary-text-emphasis: #2b2f32;
    --jv-success-text-emphasis: #0a3622;
    --jv-info-text-emphasis: #055160;
    --jv-warning-text-emphasis: #664d03;
    --jv-danger-text-emphasis: #58151c;
    --jv-light-text-emphasis: #495057;
    --jv-dark-text-emphasis: #495057;
    --jv-primary-bg-subtle: #cfe2ff;
    --jv-secondary-bg-subtle: #e2e3e5;
    --jv-success-bg-subtle: #d1e7dd;
    --jv-info-bg-subtle: #cff4fc;
    --jv-warning-bg-subtle: #fff3cd;
    --jv-danger-bg-subtle: #f8d7da;
    --jv-light-bg-subtle: #fcfcfd;
    --jv-dark-bg-subtle: #ced4da;
    --jv-primary-border-subtle: #9ec5fe;
    --jv-secondary-border-subtle: #c4c8cb;
    --jv-success-border-subtle: #a3cfbb;
    --jv-info-border-subtle: #9eeaf9;
    --jv-warning-border-subtle: #ffe69c;
    --jv-danger-border-subtle: #f1aeb5;
    --jv-light-border-subtle: #e9ecef;
    --jv-dark-border-subtle: #adb5bd;

    --jv-heading-color: inherit;
    --jv-link-color: #0d6efd;
    --jv-link-hover-color: #0a58ca;
    --jv-code-color: #d63384;
    --jv-border-color: #dee2e6;
    --jv-border-color-translucent: rgba(0, 0, 0, 0.175);
    --jv-form-valid-color: #198754;
    --jv-form-valid-border-color: #198754;
    --jv-form-invalid-color: #dc3545;
    --jv-form-invalid-border-color: #dc3545;
}

[data-theme='dark'] {
    color-scheme: dark;
    --jv-body-color: #dee2e6;
    --jv-body-bg: #212529;
    --jv-emphasis-color: #fff;
    --jv-secondary-color: rgba(222, 226, 230, 0.75);
    --jv-secondary-bg: #343a40;
    --jv-tertiary-color: rgba(222, 226, 230, 0.5);
    --jv-tertiary-bg: #2b3035;

    --jv-primary-text-emphasis: #6ea8fe;
    --jv-secondary-text-emphasis: #a7acb1;
    --jv-success-text-emphasis: #75b798;
    --jv-info-text-emphasis: #6edff6;
    --jv-warning-text-emphasis: #ffda6a;
    --jv-danger-text-emphasis: #ea868f;
    --jv-light-text-emphasis: #f8f9fa;
    --jv-dark-text-emphasis: #dee2e6;
    --jv-primary-bg-subtle: #031633;
    --jv-secondary-bg-subtle: #161719;
    --jv-success-bg-subtle: #051b11;
    --jv-info-bg-subtle: #032830;
    --jv-warning-bg-subtle: #332701;
    --jv-danger-bg-subtle: #2c0b0e;
    --jv-light-bg-subtle: #343a40;
    --jv-dark-bg-subtle: #1a1d20;
    --jv-primary-border-subtle: #084298;
    --jv-secondary-border-subtle: #41464b;
    --jv-success-border-subtle: #0f5132;
    --jv-info-border-subtle: #087990;
    --jv-warning-border-subtle: #997404;
    --jv-danger-border-subtle: #842029;
    --jv-light-border-subtle: #495057;
    --jv-dark-border-subtle: #343a40;

    --jv-heading-color: inherit;
    --jv-link-color: #6ea8fe;
    --jv-link-hover-color: #8bb9fe;
    --jv-code-color: #e685b5;
    --jv-border-color: #495057;
    --jv-border-color-translucent: rgba(255, 255, 255, 0.15);
    --jv-form-valid-color: #75b798;
    --jv-form-valid-border-color: #75b798;
    --jv-form-invalid-color: #ea868f;
    --jv-form-invalid-border-color: #ea868f;
}